*{
    border: 1px solid red; /* sätta dit i början för att kunna se indelningen av webbsidan*/
}

#caja{
    display: inline;
    /*border: 5px black;
    padding: 20px;
*/
}

body{
    background-color: blue;
}

#parrafoEnBlanco{ /*esto es un ID*/
    color: white;
}
.letraGrande { /*esto es una clase*/
    font-size: 30px;
}

.margenIzquierdo {
    margin-left: 50px;
}

@media screen and (max-width: 60px) {
     
}